<h2>Order ID: 77865<%= @order.id %></h2>
<h2>Bought By: <%= @order.user.name %></h2>

<% @order.carted_goos.each do |carted_goo| %>
  <h2><%= carted_goo.great_old_one.name %> - <%= number_to_currency(carted_goo.great_old_one.price) %> x <%= carted_goo.quantity %></h2>
<% end %>

<h2>Subtotal: <%= number_to_currency(@order.subtotal) %></h2>
<h2>Tax: <%= number_to_currency(@order.tax) %></h2>
<h2>Total: <%= number_to_currency(@order.total) %></h2>
<h2>Order Time: <%= @order.created_at %></h2>
