<% if @errors %>
  <% @errors.each do |error| %>
    <h2><%= error %></h2>
  <% end %>
<% end %>

<h1>Edit A GOOOOOOOD</h1>
<%= form_tag "/great_old_ones/#{@great_old_one.id}", method: :patch do %>
  <div>
    Name: <input type="text" name="name" value="<%= @great_old_one.name %>">
  </div>
   <div>
    Price: <input type="text" name="price" value="<%= @great_old_one.price %>">
  </div>
   <div>
   <div>
    Description: <input type="text" name="description" value="<%= @great_old_one.description %>">
  </div>
  <input class="btn btn-success" type="submit" value="Update a GOOOOOOOOD">
<% end %>