  <h2><i><%= @great_old_one.name %></i></h2>
  <img src=<%= @great_old_one.image %>>
  <h3><b>Price: $</b><%= @great_old_one.price %></h3>
    <h5><%= @great_old_one.sale_message %></h5>
    <h5>Tax: $<%= @great_old_one.tax %></h5>
    <h5>Total: $<%= @great_old_one.total %></h5>
  <h3>Futile Description: <i><%= @great_old_one.description%></i></h3>

<div>
  <a href="/great_old_ones/<%= @great_old_one.id %>/edit" class="btn btn-warning">Edit the very nature of a GOD</a>
</div>
<div>
  <a href="/great_old_ones/<%= @great_old_one.id %>", data-method="delete" class="btn btn-danger">Banish this abomination!</a>
</div>